button {
    padding: 0;
    margin: 0;
}

.btn {
    padding: 1em 2.5em;
    border: 1px solid black;
    border-radius: .8em;
    font-weight: 500;
    font-size: .9em;
    font-family: 'Raleway';
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: .2s ease;
    white-space: nowrap;

    .arrow {
        width: 0;
        vertical-align: middle;
        transition: .2s ease;

        path {
            stroke: black;
        }
    }

    &:hover {
        .arrow {
            width: 1.2em;
        }
    }
    
    &:not(:last-child) {
        margin-right: 1em;
    }
    &.primary {
        color: white;
        background-color: black;

        .arrow > path {
            stroke: white;
        }
    }
}

.arrow-link {
    display: inline-block;
    vertical-align: middle;

    span {
        font-weight: bold;
        position: relative;
    }

    span::before {
        content: "";
        position: absolute;
        bottom: -30%;
        width: 80%;
        border-bottom: 2px solid black;
        transition: .2s ease;
    }

    .arrow {
        transition: .2s ease;
        margin-left: .4em;
        width: 1.5em;
        vertical-align: middle;
    }

    &.right {
        float: right;
    }

    &:hover {
        span::before {
            width: 100%;
        }

        .arrow {
            transform: translateX(.5em);
        }
    }
}

.input {
    width: 25em;
    margin-bottom: 1em;
    padding: 1em 1.5em;
}